.selet {
    margin-left: 84px;
    width: 146px;
    padding: 8px 0;
    background: #F0F5FA;
    text-align: center;
    color: #B0B7C3;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.userSearchInput {
    /* width: 539px; */
    height: 54px;
    border-radius: 16px;
    border: 1px solid #dbd9d9;
    background: #FFF;
    padding-left: 14px;
    outline-color: rgb(215, 213, 211);
}

.userSearchInput::placeholder {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding-left: 36px;
}